@import '../../styles/variables';
.company-registration{
    & h1{
        margin: 0 0 2rem 0;
    }
}
.form{
    width: 100%;
    &__input{
        margin-bottom: 1rem;
        &:not(:first-child){
            margin-top: 2rem;
        }
        & label{
            display: block;
            margin-bottom: 1rem;
        }
        & input, &--contactnum{
            width: 100%;
            font-size: 1.5rem;
            font-family: inherit;
            padding: 1.5rem 2rem;
            border: none;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: $color-primary-light;
            &:focus{
                // border-bottom: 3px solid rgba(201, 72, 201, 0.978);
            }
        }
        &--upload-image{
            display: flex;
            flex-direction: column;
            align-items: center;
            & label, & button{
                // font-size: 1.5rem;
                padding: 1rem 1.5rem;
                border-radius: 3rem;
                cursor: pointer;
            }
            
        } 
        &--profile-pict{
            margin: 2rem;
            border: 1px solid $color-primary-light;
            width: 50%;
            // min-width: 50%;
            background-size: cover;
            border-radius: .5rem;
        }
        &--label-upload{
            background-color: $color-button-primary;
            font-weight: 400;
        }
        &--label-remove{
            background-color: $color-primary-dark;
            font-weight: 400;
            &:hover{
                filter: brightness(150%);
            }

        }
    }
    &__submit{
        display: flex;
        justify-content: center;
        &--btn{
            margin-top: 3rem;
            padding: 10px 3.4rem;
            font-family: inherit;
            font-weight: 400;
            font-size: 2rem;
            // background-color: rgb(207, 11, 207);
            background-color: $color-button-primary;
            color: white;
            border: none;
            border-radius: 2.5rem;
            cursor: pointer;
        }
    }
}
input[type="date"]{
    color-scheme: dark;
}
::-webkit-calendar-picker-indicator{
    cursor: pointer ;
    background-color: rgba($color-primary-dark,.4);
    border-radius: 1rem;
    padding: .7rem
}
.react-tel-input .form-control {
    width: 100%!important;
    // padding: 0!important;
    border: none!important;
    &:focus{
        border: none!important;
    }
}
.react-tel-input .flag-dropdown{
    top: 42%!important;
    border: none!important;
    height: 1rem!important;
    display: flex!important;
    align-items: center!important;
    margin-left: 1rem!important;
}
.react-tel-input .selected-flag {
    padding: 0!important;
    border: none!important;
    &:hover, &:focus{
        background-color: transparent!important;
    }
}
.react-tel-input .flag-dropdown.open .selected-flag{
    background-color: transparent!important;

}
.react-tel-input .country-list .country.highlight{
    background-color: $color-primary-dark!important;

}
.react-tel-input .country-list .country:hover{ 
    background-color: #082331!important;
}