@import '../../styles/variables';
.sign-up{
    max-width: 40%;
    margin: 2rem 5rem 0 auto;
    font-size: 1.5rem;
    box-sizing: border-box;
    // text-align: center;
    box-shadow: .1rem 0 1rem rgba(black, .2);
    border-radius: 10px;
    &__header{
        display: flex;
        justify-content: center;
        margin: 3rem auto;
        height: 6rem;
        font-size: 1.5rem;
        & button{
            letter-spacing: 1px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            & h2{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .05s;
                &:hover{
                    transform: translateY(-1px);
                    border-bottom: 2px solid rgb(36, 148, 184);
                    color: white;
                }
            }
        }
    }
    &__user{
        padding: 0 5rem;
    }
    &__company{
        padding: 0 5rem;
    }
    &__form{
        & > *{
            padding: 1.5rem;
            width: 100%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }

}