@import '../../styles/variables';

.navbar{
    // padding: 2rem 2rem;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
    // align-items: center;
    height: 50px;
    box-sizing: border-box;
    // background-color: transparent;
    position: fixed;
    top: 2rem;
    z-index: 10;
    
    &__center{
        margin: 0 1rem;
        background-image: linear-gradient(to right, rgba(white,30%), rgba(white,30%));
        font-size: 2rem;
        // background-color: rgba(#114867, 60%);
        padding: 0 3rem;
        border-radius: 30px;
        display: flex;
        gap: 3rem;
        backdrop-filter: blur(20px);
        &--brand{
            align-self: center;
        }
    }

}
.navbar__left{
    display: flex;
    & > *{
        align-self : center
    }
    // flex-direction: column;
}
.navbar__right{
    display: flex;
    align-items: center;
    justify-content: center;
    // transform: translateX(3rem);
    & > *{
        // width: 100%;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        color: white;
        letter-spacing: 1px;
        font-weight: 400;
        padding: .5rem 1rem .5rem 1rem;
        border-radius: 4rem;
        &:not(:last-child){ 
            margin-right: 1rem;
        }
        transform: translateX(2rem);
    }
    &--connect{
        background-image: linear-gradient(to top,#213DD9 ,#87DDFD);
    }
    &--notify{
        background: none;
    }
}
body{
    background-image: linear-gradient(-0deg, #000000, #242323);
    // height: 100vh;
    color: rgb(211, 211, 211);
    // font-weight: 300;
    animation: bginfinite 7s ease-in infinite;
    background-size: 400% 400%;
}

@keyframes bginfinite {
    0%{
        background-position: 25% 75%;
    }
    25%{   
        background-position: 50% 50%;    
    }
    50%{
        background-position: 75% 25%;    

    }
    75%{   
        background-position: 50% 50%;    
    }
    100%{
        background-position: 25% 75%;    

    }
    
}
