@import '../../styles/variables';
.navbar{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #061e2b;
    position: relative;
    &__center{
        margin: 0 auto;
        font-size: 2rem;
    }
    &__right{
        right: 2rem;
        position: absolute;
        & button{
            font-size: 1.4rem;
            background-image: linear-gradient(to right bottom, #0e3851, #114867);
            padding: .5rem 1.5rem;
            border-radius: 4rem;
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
    }
}
