$color-primary-light: #0a2c3f;
$color-primary-dark: #061e2b ;

$color-button-light: #114867;
$color-button-dark: #0e3851;

$color-button-primary: rgb(36, 148, 184);
$color-button-primary-alter: rgb(29, 120, 150);

$color-form-light: #103146;
$color-form-dark: #092035;